Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Fix actionlint version retrieval in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

Changes bundling to create a more reproducible build process.
  .gitattributes
  README.md
  Scripts/bundle.mjs
  action.yml
  docs/azure-pipelines.md
  docs/contributing.md
  install/README.md
  install/action.yaml
  package/README.md
  package/action.yaml
  packages/core/src/__tests__/integration/package-integration.test.ts
  packages/core/src/__tests__/integration/tfx-execution.test.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  publish/README.md
  publish/action.yaml
  query-version/README.md
  query-version/action.yaml
  share/README.md
  share/action.yaml
  show/README.md
  show/action.yaml
  unpublish/README.md
  unpublish/action.yaml
  unshare/README.md
  unshare/action.yaml
  wait-for-installation/README.md
  wait-for-installation/action.yaml
  wait-for-validation/README.md
  wait-for-validation/action.yaml
Due: prettier, eslint, sync-action-inputs-check, docs-validate-samples

Change diff checking
  .github/workflows/check-dist.yml
Due: actionlint, prettier

Update .gitattributes for consistent line endings and improve check-dist workflow with npm ci and normalization of text line endings
  .gitattributes
  .github/workflows/check-dist.yml
  Scripts/bundle.mjs
Due: actionlint, prettier, eslint

Refactor dist comparison step to include renormalization and improve diff checking
  .github/workflows/check-dist.yml
Due: actionlint, prettier

fix(tsconfig): set newLine option to 'lf' for consistent line endings
  Scripts/bundle.mjs
  packages/github-action/dist/bundle.js.map
  tsconfig.base.json
Due: prettier, eslint

refactor(check-dist): remove line ending normalization step and simplify diff checking
  .github/workflows/check-dist.yml
Due: actionlint, prettier

feat(schema): enhance action schema validation and update input/output definitions
  Scripts/sync-action-inputs.mjs
  action.schema.yaml
  publish/action.schema.yaml
  query-version/action.schema.yaml
  share/action.schema.yaml
  show/action.schema.yaml
  unshare/action.schema.yaml
  wait-for-installation/action.schema.yaml
  wait-for-validation/action.schema.yaml
Due: prettier, eslint

Update action-example-checker to version 0.0.4
  .github/workflows/actions-example-checker.yaml
Due: actionlint, prettier

refactor: replace 'publish-source' input with 'use' and deprecate the former
  .github/instructions/actionmanifest.instructions.md
  .github/instructions/extensionmanifest.instruction.md
  .github/workflows/publish-azdo-extension.yml
  .vscode/launch.json
  README.md
  action.schema.yaml
  action.yml
  docs/examples/demo-ping-publish-github.yml
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.schema.yaml
  publish/action.yaml
  wait-for-installation/README.md
Due: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

Update packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/__tests__/main.test.ts
Due: prettier, eslint

feat(instructions): add guidance for Azure DevOps extension and task manifests
  .github/instructions/actionmanifest.instructions.md
  .github/instructions/extensionmanifest.instructions.md
Due: prettier, docs-validate-samples

feat: implement task update option precedence resolution and add fixture helper for tests
  packages/core/src/__tests__/helpers/create-manifest-task-fixture.ts
  packages/core/src/__tests__/manifest-option-precedence.test.ts
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/commands/manifest-option-precedence.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
Due: prettier, eslint

feat: update cron schedule and checkout action version; add SemVer checker workflow
  .github/workflows/actions-dependency-submission.yml
  .github/workflows/actions-semver-checker.yml
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

Update actions-semver-checker to specific version
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

switch to rollup branch
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Rename tfx-cli.js to tfx-cli.cjs and update references in TfxManager and tests
  Scripts/bundle.mjs
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/tfx-cli.cjs
Due: prettier, eslint

Update TfxManager and tfx-cli to support new tfx-cli.cjs structure
  Scripts/bundle.mjs
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/tfx-cli.js
Due: prettier, eslint

Include dependencies of tfx-cli
  .gitignore
  Scripts/bundle.mjs
  packages/github-action/dist/tfx/node_modules/.bin/glob
  packages/github-action/dist/tfx/node_modules/.bin/glob.cmd
  packages/github-action/dist/tfx/node_modules/.bin/glob.ps1
  packages/github-action/dist/tfx/node_modules/balanced-match/LICENSE.md
  packages/github-action/dist/tfx/node_modules/balanced-match/README.md
  packages/github-action/dist/tfx/node_modules/balanced-match/package.json
  packages/github-action/dist/tfx/node_modules/brace-expansion/LICENSE
  packages/github-action/dist/tfx/node_modules/brace-expansion/README.md
  packages/github-action/dist/tfx/node_modules/brace-expansion/package.json
  packages/github-action/dist/tfx/node_modules/glob/LICENSE.md
  packages/github-action/dist/tfx/node_modules/glob/README.md
  packages/github-action/dist/tfx/node_modules/glob/package.json
  packages/github-action/dist/tfx/node_modules/jackspeak/LICENSE.md
  packages/github-action/dist/tfx/node_modules/jackspeak/README.md
  packages/github-action/dist/tfx/node_modules/jackspeak/package.json
  packages/github-action/dist/tfx/node_modules/lru-cache/LICENSE
  packages/github-action/dist/tfx/node_modules/lru-cache/README.md
  packages/github-action/dist/tfx/node_modules/lru-cache/package.json
  packages/github-action/dist/tfx/node_modules/minimatch/LICENSE.md
  packages/github-action/dist/tfx/node_modules/minimatch/README.md
  packages/github-action/dist/tfx/node_modules/minimatch/package.json
  packages/github-action/dist/tfx/node_modules/path-scurry/LICENSE.md
  packages/github-action/dist/tfx/node_modules/path-scurry/README.md
  packages/github-action/dist/tfx/node_modules/path-scurry/package.json
Due: prettier, eslint

Restore 3 tool-lib packages
  Scripts/bundle.mjs
Due: prettier, eslint

Refactor ESLint configuration and update dependencies to use typescript-eslint package
  eslint.config.mjs
  package-lock.json
  package.json
  packages/core/src/commands/publish.ts
Due: prettier, eslint

Remove deprecated @eslint/eslintrc dependency and update ESLint configuration to use @eslint/js
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier, eslint

Rebundle
  .gitignore
  packages/github-action/dist/bundle.js.map
Due: none

Deprecate `publish-source` in favor of `use` across documentation and code
  README.md
  action.schema.yaml
  action.yml
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.schema.yaml
  publish/action.yaml
Due: prettier, eslint, sync-action-inputs-check, docs-validate-samples

Rebundle
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: none

Rebundle again
  packages/github-action/dist/node_modules/color-name/LICENSE
  packages/github-action/dist/node_modules/color-name/README.md
  packages/github-action/dist/node_modules/color-name/index.js
  packages/github-action/dist/node_modules/color-name/package.json
  packages/github-action/dist/node_modules/js-md4/.covignore
  packages/github-action/dist/node_modules/js-md4/.npmignore
  packages/github-action/dist/node_modules/js-md4/.travis.yml
  packages/github-action/dist/node_modules/js-md4/CHANGELOG.md
  packages/github-action/dist/node_modules/js-md4/LICENSE.txt
  packages/github-action/dist/node_modules/js-md4/README.md
  packages/github-action/dist/node_modules/js-md4/bower.json
  packages/github-action/dist/node_modules/js-md4/build/md4.min.js
  packages/github-action/dist/node_modules/js-md4/doc/md4.js.html
  packages/github-action/dist/node_modules/js-md4/package.json
  packages/github-action/dist/node_modules/js-md4/src/md4.js
  packages/github-action/dist/node_modules/js-md4/tests/index.html
  packages/github-action/dist/node_modules/js-md4/tests/node-test.js
  packages/github-action/dist/node_modules/js-md4/tests/requirejs.html
  packages/github-action/dist/node_modules/js-md4/tests/test.js
Due: none

Refactor test files for js-md4: standardize HTML structure and improve test cases
  packages/github-action/dist/node_modules/color-name/LICENSE
  packages/github-action/dist/node_modules/color-name/README.md
  packages/github-action/dist/node_modules/color-name/index.js
  packages/github-action/dist/node_modules/color-name/package.json
  packages/github-action/dist/node_modules/js-md4/.covignore
  packages/github-action/dist/node_modules/js-md4/.npmignore
  packages/github-action/dist/node_modules/js-md4/.travis.yml
  packages/github-action/dist/node_modules/js-md4/CHANGELOG.md
  packages/github-action/dist/node_modules/js-md4/LICENSE.txt
  packages/github-action/dist/node_modules/js-md4/README.md
  packages/github-action/dist/node_modules/js-md4/bower.json
  packages/github-action/dist/node_modules/js-md4/build/md4.min.js
  packages/github-action/dist/node_modules/js-md4/doc/md4.js.html
  packages/github-action/dist/node_modules/js-md4/package.json
  packages/github-action/dist/node_modules/js-md4/src/md4.js
  packages/github-action/dist/node_modules/js-md4/tests/index.html
  packages/github-action/dist/node_modules/js-md4/tests/node-test.js
  packages/github-action/dist/node_modules/js-md4/tests/requirejs.html
  packages/github-action/dist/node_modules/js-md4/tests/test.js
Due: none

Rebundle main.js
  .gitattributes
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
Due: none

Reorder Lint and Bundle steps in workflow
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Update publish-azdo-extension.yml
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier
