Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint

actionlint:
  name: actionlint
  entry: actionlint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --config .prettierrc.yml
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

Add Node.js setup and build steps to publish workflow
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Setting up OIDC connect
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Enhance test step in publish workflow to include stop commands for better output control
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

fix: Add public visibility handling to manifest options and filesystem writer
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
  packages/core/src/__tests__/manifest-editor-apply-options.test.ts
  packages/core/src/filesystem-manifest-writer.ts
  packages/core/src/manifest-editor.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/crc32.cmd
  packages/github-action/dist/node_modules/.bin/crc32.ps1
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/dateformat.cmd
  packages/github-action/dist/node_modules/.bin/dateformat.ps1
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/glob.cmd
  packages/github-action/dist/node_modules/.bin/glob.ps1
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-docker.cmd
  packages/github-action/dist/node_modules/.bin/is-docker.ps1
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/is-inside-container.cmd
  packages/github-action/dist/node_modules/.bin/is-inside-container.ps1
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/mkdirp.cmd
  packages/github-action/dist/node_modules/.bin/mkdirp.ps1
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/node-which.cmd
  packages/github-action/dist/node_modules/.bin/node-which.ps1
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/semver.cmd
  packages/github-action/dist/node_modules/.bin/semver.ps1
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/tfx.cmd
  packages/github-action/dist/node_modules/.bin/tfx.ps1
  packages/github-action/dist/node_modules/.bin/uuid
  packages/github-action/dist/node_modules/.bin/uuid.cmd
  packages/github-action/dist/node_modules/.bin/uuid.ps1
  packages/github-action/dist/node_modules/archiver-utils/node_modules/.bin/glob
  packages/github-action/dist/node_modules/archiver-utils/node_modules/.bin/glob.cmd
  packages/github-action/dist/node_modules/archiver-utils/node_modules/.bin/glob.ps1
Due: prettier, eslint

fix: Update action references to use main branch for consistency
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Adds vsix-file input to all actions following publish in the workflow.
  .github/workflows/copilot-setup-steps.yml
  install/README.md
  install/action.yaml
  packages/core/src/__tests__/helpers/create-test-vsix.ts
  packages/core/src/__tests__/install.test.ts
  packages/core/src/__tests__/share.test.ts
  packages/core/src/__tests__/unpublish.test.ts
  packages/core/src/__tests__/unshare.test.ts
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/install.ts
  packages/core/src/commands/share.ts
  packages/core/src/commands/unpublish.ts
  packages/core/src/commands/unshare.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/core/src/extension-identity.ts
  packages/core/src/index.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  share/README.md
  share/action.yaml
  unpublish/README.md
  unpublish/action.yaml
  unshare/README.md
  unshare/action.yaml
  wait-for-validation/README.md
  wait-for-validation/action.yaml
Due: actionlint, prettier, eslint

fix: Update action references to use azdo-marketplace for consistency
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Refactor code structure for improved readability and maintainability
  Scripts/bundle.mjs
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
Due: prettier, eslint

fix: Update action references to use 'main' branch for consistency
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier

fix: Update vsix-path description for clarity and consistency across actions
  install/action.yaml
  share/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-validation/action.yaml
Due: prettier

Enhance action.yaml files with detailed input descriptions and defaults
  Scripts/sync-action-inputs.mjs
  action.yml
  install/action.yaml
  package/action.yaml
  packages/github-action/src/__tests__/action-required-comments.test.ts
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

fix: Update file permissions for executable scripts in GitHub action binaries
  Scripts/bundle.mjs
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
Due: prettier, eslint

feat: Implement GitHub action functionality with main.js and source maps
  packages/azdo-task/task.json
  packages/github-action/dist/main.d.ts.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
Due: prettier, eslint

feat: update GitHub Action to support versioning for task updates
  action.yml
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  package/README.md
  package/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
  packages/core/src/__tests__/manifest-editor-apply-options.test.ts
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/core/src/manifest-editor.ts
  packages/github-action/dist/auth/basic-auth.d.ts.map
  packages/github-action/dist/auth/index.d.ts.map
  packages/github-action/dist/auth/oidc-auth.d.ts.map
  packages/github-action/dist/auth/pat-auth.d.ts.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/github-adapter.d.ts.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
  share/README.md
  wait-for-installation/README.md
Due: prettier, eslint

refactor: rename manifest-globs to manifest-file in GitHub Action inputs and related code
  action.yml
  docs/azure-pipelines.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/action.yaml
  package/README.md
  package/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/publish.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
  share/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/README.md
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

Bundle
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

refactor: update task names and authors in task.json files
  packages/azdo-server-task/task.json
  packages/azdo-task/task.json
Due: prettier

fix: update environment configuration and specify task versioning strategy
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Change visibleRules
  packages/azdo-task/task.json
  packages/github-action/dist/bundle.js.map
Due: prettier

feat: add ensureExecutable method to set execute bit for Unix script tools
  packages/azdo-task/src/__tests__/azdo-adapter.test.ts
  packages/azdo-task/src/azdo-adapter.ts
Due: prettier, eslint

feat: add support for optional extension version in GitHub Action
  action.yml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  wait-for-validation/README.md
  wait-for-validation/action.yaml
Due: prettier, eslint

feat: update extension version handling in action.yaml and related tests
  package/action.yaml
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  publish/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

chore: update action versions across workflows and remove deprecated renovate workflow
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-azdo-extension.yml
  .github/workflows/renovate.yml
  .github/workflows/unit-tests.yml
Due: actionlint, prettier

feat: change test step shell to PowerShell and update stop marker handling
  .github/workflows/unit-tests.yml
Due: actionlint, prettier

feat: update workflow permissions to enhance security and consistency across YAML files
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/publish-azdo-extension.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit-tests.yml
  .vscode/settings.json
Due: actionlint, prettier

chore: remove outdated documentation and test workflow files for local action
  .github/local-action/ENVIRONMENT_VARIABLES.md
  .github/local-action/QUICK_REFERENCE.md
  .github/local-action/README.md
  .github/local-action/test-workflow.yml
  .github/pipelines/azure-pipelines.yml
Due: prettier

feat: update task references from ExtensionTasks@6 to azdo-marketplace@6 across documentation and pipeline configurations
  .github/pipelines/azure-pipelines.yml
  docs/README.md
  docs/authentication-and-oidc.md
  docs/azure-pipelines.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
Due: prettier

chore: remove operationConfig group from task inputs in azdo-server and azdo tasks
  packages/azdo-server-task/task.json
  packages/azdo-task/task.json
Due: prettier

refactor: standardize connection type values and improve error handling in authentication logic and add WIF connection
  .github/pipelines/azure-pipelines.yml
  packages/azdo-server-task/task.json
  packages/azdo-task/src/__tests__/auth/index.test.ts
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/auth/index.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
Due: prettier, eslint

Remove references to 'vsts' and 'vsteam' and add WIF connection
  Scripts/bundle.mjs
  docs/authentication-and-oidc.md
  docs/azure-pipelines.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  package-lock.json
  packages/azdo-server-task/task.json
  packages/azdo-task/package.json
  packages/azdo-task/src/__tests__/auth/index.test.ts
  packages/azdo-task/src/__tests__/auth/workloadidentity-auth.test.ts
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/auth/index.ts
  packages/azdo-task/src/auth/workloadidentity-auth.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/b4a/lib/ascii.js
  packages/github-action/dist/node_modules/b4a/package.json
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js.map
  packages/github-action/dist/node_modules/minimatch/package.json
  vss-extension.json
Due: prettier, eslint

fix: update connection type from VsTeam to PAT in documentation and launch configurations
  .github/copilot-instructions.md
  .vscode/launch.json
Due: prettier

Cleaning up inputs some more
  .github/pipelines/azure-pipelines.yml
  .vscode/launch.json
  action.yml
  docs/authentication-and-oidc.md
  docs/azure-pipelines.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/action.yaml
  package/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/src/__tests__/auth/basic-auth.test.ts
  packages/github-action/src/__tests__/auth/index.test.ts
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/auth/basic-auth.ts
  packages/github-action/src/auth/index.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

fix: correct visibleRule logic for Localization Root Folder input
  packages/azdo-task/task.json
Due: prettier

fix: update visibleRule logic and input mappings for Azure DevOps tasks
  .github/instructions/extensionmanifest.instruction.md
  docs/azure-pipelines.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
Due: prettier, eslint

feat: add support for JS manifest and overrides file in GitHub Action
  action.yml
  docs/azure-pipelines.md
  docs/github-actions.md
  package/README.md
  package/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/__tests__/task-json-visible-rule.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/core/src/filesystem-manifest-writer.ts
  packages/github-action/dist/auth/basic-auth.d.ts
  packages/github-action/dist/auth/basic-auth.d.ts.map
  packages/github-action/dist/auth/basic-auth.js
  packages/github-action/dist/auth/basic-auth.js.map
  packages/github-action/dist/auth/index.d.ts
  packages/github-action/dist/auth/index.d.ts.map
  packages/github-action/dist/auth/index.js
  packages/github-action/dist/auth/index.js.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
Due: prettier, eslint

fix: update extension name and tags in vss-extension.json
  vss-extension.json
Due: prettier

fix: correct visibleRule syntax for operation conditions in task.json
  packages/azdo-server-task/task.json
  packages/azdo-task/task.json
Due: prettier

fix: standardize operation naming in documentation and code for Azure DevOps tasks
  docs/azure-pipelines.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
Due: prettier, eslint

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  prettier: any of: \.(ts|js|mjs|cjs|json|md|yml|yaml)$
  eslint: any of: \.(ts|js|mjs|cjs)$
