Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint

actionlint:
  name: actionlint
  entry: actionlint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --config .prettierrc.yml
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

refactor: enhance development setup with Python and Go integration, add actionlint support, and update contributing guide
  .devcontainer/devcontainer.json
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  Scripts/setup-windows-path.ps1
  docs/contributing.md
  package.json
Due: actionlint, prettier

refactor: improve actionlint version retrieval and enhance PATH setup in workflows
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/pre-commit.yml
Due: actionlint, prettier

refactor: enhance JsonOutputStream and TfxManager with additional JSON handling and built-in resolution improvements
  packages/core/src/__tests__/json-output-stream.test.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/json-output-stream.ts
  packages/core/src/tfx-manager.ts
Due: prettier, eslint

Refactor authentication handling in GitHub Action
  .github/instructions/extensionmanifest.instruction.md
  action.yml
  docs/github-actions.md
  install/action.yaml
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/auth/index.d.ts
  packages/github-action/dist/auth/index.d.ts.map
  packages/github-action/dist/auth/index.js
  packages/github-action/dist/auth/index.js.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/github-adapter.d.ts.map
  packages/github-action/dist/github-adapter.js
  packages/github-action/dist/github-adapter.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/auth/index.test.ts
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/auth/index.ts
  packages/github-action/src/github-adapter.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

feat: enhance GitHubAdapter to handle optional boolean inputs
  packages/github-action/dist/auth/index.d.ts
  packages/github-action/dist/auth/index.d.ts.map
  packages/github-action/dist/auth/index.js
  packages/github-action/dist/auth/index.js.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/github-adapter.d.ts
  packages/github-action/dist/github-adapter.d.ts.map
  packages/github-action/dist/github-adapter.js
  packages/github-action/dist/github-adapter.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/github-adapter.test.ts
  packages/github-action/src/github-adapter.ts
Due: prettier, eslint

refactor: update GitHubAdapter tests to handle optional boolean input for bypass validation
  packages/github-action/src/__tests__/github-adapter.test.ts
Due: prettier, eslint

feat: add support for package task update flags and overrides
  packages/core/src/__tests__/package.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  vss-extension.json
Due: prettier, eslint

feat: add extension pricing and visibility options to package and publish commands
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
Due: prettier, eslint

Update extension ID and publisher information in vss-extension.json
  .github/pipelines/azure-pipelines.yml
  fix-manifest-file.ps1
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
  packages/core/src/__tests__/manifest-editor-apply-options.test.ts
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/__tests__/vsix-chain-integration.test.ts
  packages/core/src/__tests__/vsix-editor-writer.test.ts
  packages/core/src/__tests__/vsix-integration.test.ts
  packages/core/src/__tests__/vsix-reader.test.ts
  packages/core/src/__tests__/vsix-security.test.ts
  packages/core/src/__tests__/vsix-writer-security.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/core/src/filesystem-manifest-reader.ts
  packages/core/src/filesystem-manifest-writer.ts
  packages/core/src/manifest-editor.ts
  packages/core/src/manifest-reader.ts
  packages/core/src/vsix-writer.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  vss-extension.json
Due: prettier, eslint

refactor: simplify test setup by using withManifestDefaults for package and publish tests
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
Due: prettier, eslint

Restore icon
  packages/azdo-task/icon.png
Due: none

fix: ensure newline at end of .gitignore and license.txt files
  .gitignore
  license.txt
Due: none

refactor: enhance close method in VsixReader to handle zip file closure more robustly
  packages/core/src/vsix-reader.ts
Due: prettier, eslint

refactor: reorder imports and adjust type re-exports for clarity
  packages/core/src/vsix-reader.ts
Due: prettier, eslint

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

refactor: update action references to use the new refactor/v6 branch and improve formatting for clarity
  action.yml
  docs/README.md
  docs/authentication-and-oidc.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier

refactor: standardize action steps formatting across all action YAML files
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
Due: none

chore: update text-decoder to version 1.2.7 and refactor decoding logic
  Scripts/bundle.mjs
  action.yml
  docs/azure-pipelines.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  package/README.md
  package/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/integration/package-integration.test.ts
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/__tests__/query-version.test.ts
  packages/core/src/__tests__/show.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/core/src/commands/query-version.ts
  packages/core/src/commands/show.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/text-decoder/lib/browser-decoder.js
  packages/github-action/dist/node_modules/text-decoder/lib/pass-through-decoder.js
  packages/github-action/dist/node_modules/text-decoder/lib/utf8-decoder.js
  packages/github-action/dist/node_modules/text-decoder/package.json
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/action.yaml
  query-version/action.yaml
  show/README.md
  show/action.yaml
Due: prettier, eslint

Align output variables between github actions and azure pipelines.
  docs/migrate-azure-pipelines-v5-to-v6.md
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/integration/package-integration.test.ts
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/query-version.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/query-version.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  query-version/action.yaml
Due: prettier, eslint

Refactor code structure for improved readability and maintainability
  packages/core/src/manifest-editor.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

feat: implement debug mode detection for AzdoAdapter and GitHubAdapter and reduce noise in output
  packages/azdo-task/src/__tests__/azdo-adapter.test.ts
  packages/azdo-task/src/azdo-adapter.ts
  packages/core/src/__tests__/helpers/mock-platform.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/commands/install.ts
  packages/core/src/platform.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
  packages/github-action/src/__tests__/github-adapter.test.ts
  packages/github-action/src/github-adapter.ts
Due: prettier, eslint

Settin executable bit
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
Due: none

feat: add isDebugEnabled method to GitHubAdapter
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/github-adapter.d.ts
  packages/github-action/dist/github-adapter.d.ts.map
  packages/github-action/dist/github-adapter.js
  packages/github-action/dist/github-adapter.js.map
  packages/github-action/src/__tests__/github-adapter.test.ts
  packages/github-action/src/github-adapter.ts
Due: prettier, eslint

When publishing from vsix, read the version from the published vsix file directly.
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/commands/publish.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

refactor: rename package to azdo-extension-tasks and update dependencies
  package-lock.json
  packages/core/package.json
  packages/core/src/__tests__/fixtures/real-world-manifest-samples.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/__tests__/vsix-editor-writer.test.ts
  packages/core/src/__tests__/vsix-reader.test.ts
  packages/core/src/vsix-reader.ts
  packages/core/src/vsix-writer.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

feat: enhance VSIX identity parsing and improve XML builder configuration
  packages/core/src/__tests__/vsix-reader.test.ts
  packages/core/src/vsix-reader.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

refactor: normalize organization URL handling and update action inputs across multiple files
  action.yml
  install/README.md
  install/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/core/src/__tests__/install.test.ts
  packages/core/src/__tests__/share.test.ts
  packages/core/src/__tests__/unshare.test.ts
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/install.ts
  packages/core/src/commands/share.ts
  packages/core/src/commands/unshare.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/core/src/organization-utils.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/action.yaml
  query-version/action.yaml
  share/README.md
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/README.md
  unshare/action.yaml
  wait-for-installation/README.md
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

Refactor Azure DevOps extension sharing and unsharing commands
  README.md
  action.yml
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/README.md
  install/action.yaml
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/install.test.ts
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/install.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/core/src/index.ts
  packages/core/src/organization-utils.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/README.md
  publish/action.yaml
  share/README.md
  share/action.yaml
  unshare/README.md
  unshare/action.yaml
  wait-for-installation/README.md
  wait-for-installation/action.yaml
Due: prettier, eslint

refactor: make publisherId and extensionId optional and infer from VSIX metadata
  docs/github-actions.md
  packages/azdo-task/src/main.ts
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/main.ts
  wait-for-installation/README.md
  wait-for-installation/action.yaml
Due: prettier, eslint

refactor: rename action from azure-devops-extension-tasks to azdo-marketplace
  action.yml
  docs/README.md
  docs/authentication-and-oidc.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/README.md
  install/action.yaml
  package.json
  package/README.md
  package/action.yaml
  packages/azdo-task/task.json
  publish/README.md
  publish/action.yaml
  query-version/README.md
  query-version/action.yaml
  share/README.md
  share/action.yaml
  show/README.md
  show/action.yaml
  unpublish/README.md
  unpublish/action.yaml
  unshare/README.md
  unshare/action.yaml
  vss-extension.json
  wait-for-installation/README.md
  wait-for-installation/action.yaml
  wait-for-validation/README.md
  wait-for-validation/action.yaml
Due: prettier

Update dependabot.yml
  .github/dependabot.yml
Due: prettier

Fixing lint issues
  Scripts/sync-action-inputs.mjs
  action.yml
  install/action.yaml
  package.json
  package/action.yaml
  packages/github-action/dist/bundle.js.map
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, eslint

chore: update package name to azdo-marketplace and add peer dependencies
  package-lock.json
Due: prettier

Improve error handling in OIDC authentication and task parsing
  packages/azdo-task/src/auth/azurerm-auth.ts
  packages/azdo-task/src/main.ts
  packages/core/src/commands/publish.ts
  packages/core/src/tfx-manager.ts
  packages/core/src/validation.ts
  packages/github-action/dist/auth/oidc-auth.d.ts.map
  packages/github-action/dist/auth/oidc-auth.js
  packages/github-action/dist/auth/oidc-auth.js.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
  packages/github-action/src/auth/oidc-auth.ts
  packages/github-action/src/main.ts
Due: prettier, eslint

chore: add peer dependencies to package-lock.json
  package-lock.json
Due: prettier

Bundle
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/node_modules/.bin/crc32
  packages/github-action/dist/node_modules/.bin/dateformat
  packages/github-action/dist/node_modules/.bin/glob
  packages/github-action/dist/node_modules/.bin/is-docker
  packages/github-action/dist/node_modules/.bin/is-inside-container
  packages/github-action/dist/node_modules/.bin/mkdirp
  packages/github-action/dist/node_modules/.bin/node-which
  packages/github-action/dist/node_modules/.bin/semver
  packages/github-action/dist/node_modules/.bin/tfx
  packages/github-action/dist/node_modules/.bin/uuid
Due: prettier, eslint

Update extension ID in vss-extension.json and add GitHub Actions workflow for publishing private extension
  .github/workflows/publish-azdo-extension.yml
  vss-extension.json
Due: actionlint, prettier

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
  prettier: any of: \.(ts|js|mjs|cjs|json|md|yml|yaml)$
  eslint: any of: \.(ts|js|mjs|cjs)$
