Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Update dependabot configuration for npm packages
  .github/dependabot.yml
Due: prettier

Fix formatting in dependabot.yml
  .github/dependabot.yml
Due: prettier

Enable continue-on-error for npm and build steps
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

fix: add fetch-depth option to checkout step in copilot setup workflow
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

Increase timeout for copilot setup steps to 120 minutes
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

fix: update action references to use version v6.0.1 instead of main
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Update publish-azdo-extension.yml
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

fix: standardize on vsix-file in test workflows
  .github/workflows/release.yml
  .github/workflows/test-github-actions.yml
  README.md
  action.yml
  install/action.yaml
  package/action.yaml
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

fix: update branch pattern for release trigger to support all version formats
  .github/workflows/release.yml
Due: actionlint, prettier

feat: enhance release workflow by adding production extension publishing and floating tag updates
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update extension version reference in release workflow
  .github/workflows/release-test-github-actions.yml
  .github/workflows/test-github-actions.yml
Due: actionlint, prettier

Potential fix for pull request finding
  Scripts/update-version.mjs
Due: prettier, eslint

Potential fix for pull request finding
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Modify release workflow for Windows and update actions
  .github/workflows/release.yml
Due: actionlint, prettier

Allow formatting step to continue on error
  .github/workflows/release.yml
Due: actionlint, prettier

chore: comment out Azure DevOps test pipeline steps in release workflow (#103)
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update GitHub Actions workflow to validate root action and adjust environment variables
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

fix: update GitHub Actions workflow to validate root action and adjust environment variables (#104)
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

fix: correct task ID casing in vss-extension.json and ensure public visibility is set to false
  tests/sample-extension/vss-extension.json
Due: prettier

fix: correct task ID casing in vss-extension.json and ensure public visibility is set to false (#105)
  tests/sample-extension/vss-extension.json
Due: prettier

feat: add support for working-directory in manifest-based operations across documentation and examples
  README.md
  docs/README.md
  docs/azure-pipelines.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v5-to-v6.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/README.md
  package/README.md
  publish/README.md
  query-version/README.md
  share/README.md
  unpublish/README.md
  unshare/README.md
  wait-for-installation/README.md
  wait-for-validation/README.md
Due: prettier, docs-validate-samples

feat: add working-directory input for packaging step in release workflow
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Potential fix for pull request finding
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

Potential fix for pull request finding
  README.md
Due: prettier, docs-validate-samples

fix: update default working directory to 'none' in action inputs
  action.yml
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

fix: remove unnecessary empty lines in action YAML files
  action.yml
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Bundle
  Scripts/bundle.mjs
  package-lock.json
Due: prettier, eslint

Update manifest file path in GitHub Actions workflow
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Update publisher ID for release workflow
  .github/workflows/release.yml
Due: actionlint, prettier
