Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

actionlint:
  name: actionlint
  entry: actionlint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --config .prettierrc.yml
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

sync-action-inputs-check:
  name: Check action manifest sync
  entry: npm run sync:action-inputs:check
  language: system
  pass_filenames: false

docs-validate-samples:
  name: Check validate docs samples
  entry: npm run docs:validate-samples
  language: system
  pass_filenames: false

chore(deps): update dependencies in actions.lock and package-lock.json
  .github/workflows/actions.lock
  package-lock.json
Due: prettier

refactor: replace regex with a forward-only scan for attribute tokenization
  packages/github-action/dist/bundle.js
Due: none

chore(deps): update actions-dependency-submission and other dependencies to latest versions
  .github/workflows/actions.lock
Due: none

chore: add dependencies for release-test-github-actions workflow
  .github/workflows/actions.lock
Due: none

chore: relock jessehouwing/azdo-marketplace@main action ref via gh actions-lock --relock
  .github/workflows/actions.lock
Due: none

docs: add actions-lock skill for safe gh actions-lock usage in this repo
  .github/skills/actions-lock/SKILL.md
Due: prettier, docs-validate-samples

Merge pending dependabot updates and relock actions (#259)
  .github/skills/actions-lock/SKILL.md
  .github/workflows/actions.lock
  package-lock.json
  package.json
Due: prettier, docs-validate-samples

chore: update release-test-github-actions workflow and actions.lock dependencies
  .github/workflows/actions.lock
Due: none

relock actions
  .github/workflows/actions-dependency-submission.yml
  .github/workflows/actions-example-checker.yaml
  .github/workflows/actions-semver-checker.yml
  .github/workflows/actions.lock
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-actions-lock.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit-tests.yml
Due: actionlint, prettier

bundle
  package-lock.json
Due: prettier

feat: Enhance GitHub Actions workflows with build provenance and attestation
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/skills/actions-lock/SKILL.md
  .github/workflows/actions.lock
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-actions-lock.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  .python-version
  docs/README.md
  docs/provenance-and-attestation.md
  requirements-dev.txt
Due: actionlint, prettier, docs-validate-samples

better reproducible builds
  .github/instructions/bundle.instructions.md
  .github/workflows/check-dist.yml
  .github/workflows/release.yml
  .gitignore
  Scripts/bundle.mjs
  go.mod
  go.sum
  package.json
  packages/azdo-task/dist/package-lock.json
  packages/azdo-task/dist/package.json
Due: actionlint, prettier, eslint, docs-validate-samples

fix: Update release branch creation to use dynamic source reference
  .github/workflows/release.yml
Due: actionlint, prettier

fix: Remove legacy-peer-deps flag from npm install commands across workflows
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  install/action.yaml
  package.json
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: actionlint, prettier, sync-action-inputs-check, docs-validate-samples

feat: Enhance release workflow with matrix strategy for GitHub Actions testing
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Add cancellation steps for Azure DevOps and GitHub Actions pipelines in release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Update workflow names to include versioning for better clarity
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Add environment configuration and run URL output for GitHub Actions testing
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Enhance Azure DevOps pipeline commands with organization and detection parameters
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Add VSIX and GitHub Action dist attestation URLs to release notes
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Refactor GitHub Actions workflow names for clarity and add version input
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Update version update script to handle multiple Azure Pipelines task.json files
  Scripts/update-version.mjs
Due: prettier, eslint

feat: Update runner hardening to block unexpected outbound calls and define allowed endpoints
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Update GitHub release workflow to improve draft release handling and dry-run behavior
  .github/workflows/release.yml
Due: actionlint, prettier

feat: Update dry_run description in release workflow for clarity on draft release behavior
  .github/workflows/release.yml
Due: actionlint, prettier

Update the release process to enable consistent builds (#265)
  .github/codeql/codeql-config.yml
  .github/dependabot.yml
  .github/instructions/bundle.instructions.md
  .github/skills/actions-lock/SKILL.md
  .github/workflows/actions.lock
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-actions-lock.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zizmor.yml
  .github/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  Scripts/bundle.mjs
  Scripts/update-version.mjs
  docs/README.md
  docs/provenance-and-attestation.md
  go.mod
  go.sum
  install/action.yaml
  package.json
  package/action.yaml
  packages/azdo-task/dist/package-lock.json
  packages/azdo-task/dist/package.json
  publish/action.yaml
  query-version/action.yaml
  requirements-dev.txt
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

chore(deps): merge dependabot updates, bump minor/patch deps, override qs/tfx-cli, propagate root overrides into bundled dist manifests
  Scripts/bundle.mjs
  package-lock.json
  package.json
  packages/azdo-task/package.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/qs/.github/THREAT_MODEL.md
  packages/github-action/dist/node_modules/qs/CHANGELOG.md
  packages/github-action/dist/node_modules/qs/README.md
  packages/github-action/dist/node_modules/qs/dist/qs.js
  packages/github-action/dist/node_modules/qs/eslint.config.mjs
  packages/github-action/dist/node_modules/qs/lib/parse.js
  packages/github-action/dist/node_modules/qs/lib/stringify.js
  packages/github-action/dist/node_modules/qs/lib/utils.js
  packages/github-action/dist/node_modules/qs/package.json
  packages/github-action/dist/node_modules/qs/test/parse.js
  packages/github-action/dist/node_modules/qs/test/stringify.js
  packages/github-action/dist/node_modules/qs/test/utils.js
  packages/github-action/dist/node_modules/tfx-cli/README.md
  packages/github-action/dist/node_modules/tfx-cli/_build/exec/extension/init.js
  packages/github-action/dist/node_modules/tfx-cli/_build/exec/extension/init.js.map
  packages/github-action/dist/node_modules/tfx-cli/_build/lib/jsonvalidate.js
  packages/github-action/dist/node_modules/tfx-cli/_build/lib/jsonvalidate.js.map
  packages/github-action/dist/node_modules/tfx-cli/_build/package.json
  packages/github-action/dist/node_modules/tfx-cli/package.json
  packages/github-action/dist/package-lock.json
  packages/github-action/dist/package.json
  packages/github-action/dist/runtime-dependencies.json
Due: prettier, eslint

chore: rebundle after rebase
  packages/azdo-task/dist/package-lock.json
  packages/azdo-task/dist/package.json
Due: none

chore(deps): merge PR #267 (bump minor-updates group) and relock actions.lock
  .github/workflows/actions.lock
Due: none

fix: revert self-repository $/ refs in composite action.yaml files
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

fix: revert release tooling refs from v6.3.3 to v6.2.12
  .github/workflows/actions.lock
  .github/workflows/release.yml
Due: actionlint, prettier

Increase test/publish workflow timeouts to reduce failures
  .github/workflows/release.yml
Due: actionlint, prettier

Add ignore-versions option to semver checker
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Add ignore-versions option to release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (^|/)dist/.*
  prettier: any of: \.(ts|js|mjs|cjs|json|md|yml|yaml)$, but not: (^|/)dist/.*
  eslint: any of: \.(ts|js|mjs|cjs)$, but not: (^|/)dist/.*
  sync-action-inputs-check: any of: (^|/)action\.ya?ml$, but not: (^|/)dist/.*
  docs-validate-samples: any of: (^|/)(action\.ya?ml|task\.json|.*\.md)$, but not: (^|/)dist/.*
