Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Queue and wait for azure pipelines tests to finish.
  .github/workflows/release.yml
Due: actionlint, prettier

fix: disable Azure CLI secure credential store on hosted runners
  .github/workflows/release.yml
Due: actionlint, prettier

Remove az devops login command from release.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: add go.mod and go.sum for module dependencies
  go.mod
  go.sum
Due: none

Update Azure DevOps organization URL in release.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: add step to unpublish existing preview extension before publishing
  .github/workflows/release.yml
Due: actionlint, prettier

Simplify VSIX artifact download name
  .github/workflows/release.yml
Due: actionlint, prettier

Update preview extension publishing parameters
  .github/workflows/release.yml
Due: actionlint, prettier

Set Git user for floating tag updates
  .github/workflows/release.yml
Due: actionlint, prettier

fix: remove unnecessary blank line in release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

Launch blog post
  v6-launch-blog-post.md
Due: prettier, docs-validate-samples

feat: add OpenSSL folder name validation and update resource path handling
  Scripts/bundle.mjs
  package-lock.json
Due: prettier, eslint

Bundle
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/bare-fs/index.js
  packages/github-action/dist/node_modules/bare-fs/package.json
  packages/github-action/dist/node_modules/bare-os/binding.c
  packages/github-action/dist/node_modules/bare-os/index.d.ts
  packages/github-action/dist/node_modules/bare-os/index.js
  packages/github-action/dist/node_modules/bare-os/package.json
  packages/github-action/dist/node_modules/bare-os/prebuilds/android-arm/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/android-arm64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/android-ia32/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/android-x64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/darwin-arm64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/darwin-x64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/ios-arm64-simulator/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/ios-arm64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/ios-x64-simulator/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/linux-arm64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/linux-x64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/win32-arm64/bare-os.bare
  packages/github-action/dist/node_modules/bare-os/prebuilds/win32-x64/bare-os.bare
  packages/github-action/dist/node_modules/bare-stream/index.js
  packages/github-action/dist/node_modules/bare-stream/package.json
  packages/github-action/dist/node_modules/bare-stream/web.d.ts
  packages/github-action/dist/node_modules/bare-stream/web.js
  packages/github-action/dist/node_modules/bare-url/index.d.ts
  packages/github-action/dist/node_modules/bare-url/index.js
  packages/github-action/dist/node_modules/bare-url/lib/url-search-params.d.ts
  packages/github-action/dist/node_modules/bare-url/lib/url-search-params.js
  packages/github-action/dist/node_modules/bare-url/package.json
  packages/github-action/dist/node_modules/sax/lib/sax.js
  packages/github-action/dist/node_modules/sax/package.json
  packages/github-action/dist/node_modules/streamx/README.md
  packages/github-action/dist/node_modules/streamx/index.js
  packages/github-action/dist/node_modules/streamx/package.json
  packages/github-action/dist/package-lock.json
Due: none

feat: pin npm version in workflow and update packageManager in package.json
  .github/workflows/check-dist.yml
  package.json
Due: actionlint, prettier

feat: add OpenSSL folder name validation and update resource path handling
  package-lock.json
Due: prettier

refactor: update Azure Pipelines and GitHub Actions workflows for improved parameterization and clarity
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

feat: add support for previous semantic version tags in release notes generation
  .github/workflows/release.yml
Due: actionlint, prettier

disable publish
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update release workflow to remove unnecessary outputs
  .github/workflows/release.yml
Due: actionlint, prettier

Switch waiting job to Ubuntu-slim
  .github/workflows/release.yml
Due: actionlint, prettier

fix: simplify job name in Azure Pipelines workflow
  .github/workflows/release.yml
Due: actionlint, prettier

chore: remove obsolete test extension lifecycle template
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

fix: only check the dist for github-actions
  .github/workflows/check-dist.yml
Due: actionlint, prettier

Test/split test (#129)
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
  .github/workflows/check-dist.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Update actions-semver-checker configuration
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Update pre-commit.yml
  .github/workflows/pre-commit.yml
Due: actionlint, prettier

Update npm install command to use legacy-peer-deps
  .github/workflows/linter.yml
Due: actionlint, prettier

Modify npm install to use --legacy-peer-deps
  .github/workflows/unit-tests.yml
Due: actionlint, prettier

Update npm install command to include legacy-peer-deps
  .github/workflows/copilot-setup-steps.yml
Due: actionlint, prettier

Modify npm install to use --legacy-peer-deps
  .github/workflows/ci.yml
Due: actionlint, prettier

Update check-dist.yml
  .github/workflows/check-dist.yml
Due: actionlint, prettier

Update package.json
  package.json
Due: prettier

Update packages/core/package.json
  packages/core/package.json
Due: prettier

chore(deps): update picomatch to version 2.3.2 and remove deprecated @types/uuid dependency
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/picomatch/CHANGELOG.md
  packages/github-action/dist/node_modules/picomatch/README.md
  packages/github-action/dist/node_modules/picomatch/lib/constants.js
  packages/github-action/dist/node_modules/picomatch/lib/parse.js
  packages/github-action/dist/node_modules/picomatch/package.json
  packages/github-action/dist/package-lock.json
Due: none

chore(deps): remove deprecated peer dependencies from package-lock.json
  package-lock.json
Due: prettier

Add legacy-peer-deps flag to npm ci command
  .github/workflows/release.yml
Due: actionlint, prettier
