Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Bundle
  packages/github-action/dist/bundle.js
Due: none

feat(waitForInstallation): validate contributionIdentifier for task version matches
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

fix(waitForInstallation): handle null responses from task definitions API
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

feat(waitForInstallation): enhance version checking and warning emission for higher installed versions
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

feat(waitForInstallation): improve version tracking for tasks with shared names and UUIDs
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

feat(vsix-writer): infer GalleryFlags from legacy public field in JSON manifest
  packages/core/src/__tests__/vsix-editor-writer.test.ts
  packages/core/src/vsix-writer.ts
Due: prettier, eslint

feat(vsix-writer): infer visibility and preview flags from legacy JSON fields
  packages/core/src/__tests__/vsix-editor-writer.test.ts
  packages/core/src/vsix-writer.ts
Due: prettier, eslint

chore: lock actions
  .github/dependabot.yml
  .github/renovate.json
  .github/skills/jest/SKILL.md
  .github/workflows/actions-dependency-submission.yml
  .github/workflows/actions-example-checker.yaml
  .github/workflows/actions-semver-checker.yml
  .github/workflows/actions.lock
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit-tests.yml
  .vscode/extensions.json
  package-lock.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/tmp/lib/tmp.js
  packages/github-action/dist/node_modules/tmp/package.json
  packages/github-action/dist/package-lock.json
Due: actionlint, prettier, docs-validate-samples

chore: update workflow headers to indicate management by gh actions-lock
  .github/workflows/actions-dependency-submission.yml
  .github/workflows/actions-example-checker.yaml
  .github/workflows/actions-semver-checker.yml
  .github/workflows/actions.lock
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/unit-tests.yml
Due: actionlint, prettier

chore(deps): update dependabot configuration for GitHub Actions and add ignore rule for @types/node
  .github/dependabot.yml
Due: prettier

Bundle
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/lodash/README.md
  packages/github-action/dist/node_modules/lodash/_baseOrderBy.js
  packages/github-action/dist/node_modules/lodash/_baseUnset.js
  packages/github-action/dist/node_modules/lodash/_setCacheHas.js
  packages/github-action/dist/node_modules/lodash/compact.js
  packages/github-action/dist/node_modules/lodash/core.js
  packages/github-action/dist/node_modules/lodash/core.min.js
  packages/github-action/dist/node_modules/lodash/fromPairs.js
  packages/github-action/dist/node_modules/lodash/lodash.js
  packages/github-action/dist/node_modules/lodash/lodash.min.js
  packages/github-action/dist/node_modules/lodash/package.json
  packages/github-action/dist/node_modules/lodash/random.js
  packages/github-action/dist/node_modules/lodash/template.js
  packages/github-action/dist/node_modules/lodash/templateSettings.js
  packages/github-action/dist/node_modules/tfx-cli/_build/exec/extension/_lib/merger.js
  packages/github-action/dist/node_modules/tfx-cli/_build/exec/extension/_lib/merger.js.map
  packages/github-action/dist/node_modules/tfx-cli/_build/lib/jsonvalidate.js.map
  packages/github-action/dist/node_modules/tfx-cli/_build/package.json
  packages/github-action/dist/node_modules/tfx-cli/package.json
  packages/github-action/dist/package-lock.json
  packages/github-action/dist/package.json
  packages/github-action/dist/runtime-dependencies.json
Due: none

chore: remove gh actions-lock management comment from release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

Update release.yml with management comment
  .github/workflows/release.yml
Due: actionlint, prettier

chore(deps): update actions to latest versions in workflows
  .github/workflows/actions.lock
Due: none

Update lock files
  package-lock.json
Due: prettier

Update bundle
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/brace-expansion/dist/commonjs/index.js
  packages/github-action/dist/node_modules/brace-expansion/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/brace-expansion/dist/esm/index.js
  packages/github-action/dist/node_modules/brace-expansion/dist/esm/index.js.map
  packages/github-action/dist/node_modules/brace-expansion/package.json
  packages/github-action/dist/package-lock.json
Due: none

feat: add Dependabot Actions Lock workflow to regenerate actions-lock lockfile
  .github/workflows/dependabot-actions-lock.yml
Due: actionlint, prettier

chore: update actions.lock and dependabot-actions-lock.yml for consistency
  .github/workflows/actions.lock
  .github/workflows/dependabot-actions-lock.yml
Due: actionlint, prettier

feat: add actions-lock CLI checkout and installation steps to Dependabot Actions Lock workflow
  .github/workflows/dependabot-actions-lock.yml
Due: actionlint, prettier

chore: update token secret name for actions-locked-dependencies checkout
  .github/workflows/dependabot-actions-lock.yml
Due: actionlint, prettier

chore: update secret name and add environment variable for actions-locked-dependencies checkout
  .github/workflows/dependabot-actions-lock.yml
Due: actionlint, prettier

locked actions
  .github/workflows/actions.lock
Due: none

For now don't update to TS7, awaiting compatibility with Jest and RollUp
  .github/dependabot.yml
Due: prettier

Update bundle
  packages/github-action/dist/bundle.js
Due: none

Update Azure DevOps Dependencies and fast-xml-parser/builder
  package-lock.json
  packages/azdo-task/package.json
  packages/core/package.json
Due: prettier

Refactor extension visibility type casting in runPackage and runPublish functions
  packages/azdo-task/src/main.ts
  packages/github-action/src/main.ts
Due: prettier, eslint

chore(deps): update actions to latest versions in workflows
  .github/workflows/actions.lock
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

chore(deps): update ansi-regex to version 6.3.0 and bump codeql-action to v4.37.7
  .github/workflows/actions.lock
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/ansi-regex/index.js
  packages/github-action/dist/node_modules/ansi-regex/package.json
  packages/github-action/dist/package-lock.json
Due: none

Update dependencies
  package-lock.json
  package.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/tfx-cli/_build/package.json
  packages/github-action/dist/node_modules/tfx-cli/package.json
  packages/github-action/dist/package-lock.json
  packages/github-action/dist/package.json
  packages/github-action/dist/runtime-dependencies.json
Due: prettier

Relock actions
  .github/workflows/actions.lock
Due: none

chore(deps): update tfx-cli to version 0.24.0 and azure-devops-node-api to version 17.0.0
  package-lock.json
Due: prettier

chore: replace NodeTool with UseNode task in pipeline configurations
  .github/pipelines/azure-pipelines.yml
  .github/pipelines/test-azure-pipelines.yml
  docs/examples/demo-ping-publish-azure-pipelines.yml
Due: prettier

feat: add version check to skip republishing if already deployed
  .github/workflows/release.yml
Due: actionlint, prettier
