Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

relock actions
  .github/workflows/actions.lock
Due: none

Relock GitHub Actions to updated SHAs after dependabot bump
  .github/workflows/actions.lock
Due: none

Add gh-cli-powershell skill to prevent backtick escaping mangling PR bodies
  .github/skills/gh-cli-powershell/SKILL.md
Due: prettier, docs-validate-samples

fix(security): apply workflow hardening from vs-marketplace review
  .github/skills/actions-lock/SKILL.md
  .github/workflows/actions-dependency-submission.yml
  .github/workflows/actions-example-checker.yaml
  .github/workflows/actions.lock
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/dependabot-actions-lock.yml
  .github/workflows/linter.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/zizmor.yml
  Scripts/bundle.mjs
Due: actionlint, prettier, eslint, docs-validate-samples

fix(wait-for-installation): suppress AAD/FedAuth login redirect on Azure DevOps API calls
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/github-action/dist/bundle.js
Due: prettier, eslint

chore: regenerate github-action dist/bundle.js to match CI build output
  packages/github-action/dist/bundle.js
Due: none

fix: correct zizmor ignore-comment placement for adhoc-packages and artipacked
  .github/workflows/check-dist.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Infer extension version for waitForValidation from vsixFile/manifest
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/core/src/extension-identity.ts
  packages/github-action/dist/bundle.js
Due: prettier, eslint

fix: prevent corrupted retries and clarify errors on tfx-cli npm install failures
  packages/core/src/__tests__/integration/tfx-execution.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/bundle.js
Due: prettier, eslint

fix(release): add 0.0.0 fallback to marketplace version-source
  .github/workflows/release.yml
Due: actionlint, prettier

feat: implement service error classification and enhance error handling in waitForInstallation and waitForValidation
  packages/azdo-task/dist/package-lock.json
  packages/core/src/__tests__/service-error.test.ts
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/wait-for-installation.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/core/src/service-error.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/ansi-regex/index.js
  packages/github-action/dist/node_modules/ansi-regex/package.json
  packages/github-action/dist/package-lock.json
Due: prettier, eslint

chore: integrate PR #281, #282, #283 and refresh bundles
  .github/workflows/actions.lock
  Scripts/bundle.mjs
  package-lock.json
  package.json
  packages/azdo-task/dist/package-lock.json
  packages/azdo-task/dist/package.json
  packages/core/package.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/package.json
Due: prettier, eslint

test: add cases for handling Azure DevOps unavailable HTML response in service error classification and validation
  packages/core/src/__tests__/service-error.test.ts
  packages/core/src/__tests__/wait-for-validation.test.ts
Due: prettier, eslint

test: add cases for handling revoked PAT and forbidden tfx request failures
  packages/core/src/__tests__/service-error.test.ts
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/service-error.ts
  packages/github-action/dist/bundle.js
Due: prettier, eslint

refresh lockfiles & bundle
  .github/workflows/actions.lock
  package-lock.json
  package.json
  packages/azdo-task/dist/package-lock.json
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/readable-stream/lib/internal/shims/process.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/destroy.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/duplexify.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/end-of-stream.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/from.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/legacy.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/pipeline.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/readable.js
  packages/github-action/dist/node_modules/readable-stream/lib/internal/streams/writable.js
  packages/github-action/dist/node_modules/readable-stream/package.json
  packages/github-action/dist/package-lock.json
Due: prettier

chore: update release workflow documentation and add manual gate for approval after Marketplace publication
  .github/workflows/release.yml
Due: actionlint, prettier
