Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Refactor test environment variable restoration in GitHubAdapter tests
  packages/core/src/__tests__/show.test.ts
  packages/core/src/commands/show.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/src/__tests__/github-adapter.test.ts
Due: prettier, eslint

feat: add artifact upload step for VSIX in publish workflow
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

fix: update visibleRule for VSIX file input in task.json
  packages/azdo-task/task.json
Due: prettier

feat: update service connection types and add example workflows for publishing extensions
  docs/examples/demo-ping-publish-azure-pipelines.yml
  docs/examples/demo-ping-publish-github.yml
  packages/azdo-task/task.json
  vss-extension.json
Due: prettier

fix: add schema definition to vss-extension.json
  vss-extension.json
Due: prettier

fix: update execution target paths in task.json to use bundle.js
  packages/azdo-task/task.json
Due: prettier

feat: initialize declared task outputs in main execution flow
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
Due: prettier, eslint

feat: implement getPathInput method in AzdoAdapter and update usages in runPackage and runPublish
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/azdo-adapter.ts
  packages/azdo-task/src/main.ts
Due: prettier, eslint

Refactor code structure and remove redundant sections for improved readability and maintainability
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/show.test.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/show.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/auth/oidc-auth.js
  packages/github-action/dist/auth/oidc-auth.js.map
  packages/github-action/dist/auth/pat-auth.js
  packages/github-action/dist/auth/pat-auth.js.map
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/github-adapter.js
  packages/github-action/dist/github-adapter.js.map
  vss-extension.json
Due: prettier, eslint

Update publish-azdo-extension.yml
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Change tfx-lookup for azdo and github
  .github/workflows/publish-azdo-extension.yml
  packages/core/src/__tests__/package.test.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: actionlint, prettier, eslint

fix: standardize file encoding to 'utf8' in file read/write operations
  packages/azdo-task/src/azdo-adapter.ts
  packages/core/src/__tests__/helpers/mock-platform.ts
  packages/core/src/__tests__/publish.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/src/__tests__/github-adapter.test.ts
Due: prettier, eslint

fix: update originalExitCode type to handle string and number in GitHubAdapter tests
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/src/__tests__/github-adapter.test.ts
Due: prettier, eslint

feat: add file existence validation for input files in GitHub Action
  Scripts/bundle.mjs
  package.json
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
Due: prettier, eslint

Change extension visibility from private to private_preview
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

feat: normalize version action input and update related tests for consistency
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  vss-extension.json
Due: prettier, eslint

Bundling github action
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

Cleaned up extension manifest
  vss-extension.json
Due: prettier

feat: add timeout and polling interval inputs for validation process
  packages/azdo-task/src/__tests__/main.test.ts
  packages/azdo-task/src/main.ts
  packages/azdo-task/task.json
  packages/core/src/__tests__/integration/package-integration.test.ts
  packages/core/src/__tests__/vsix-chain-integration.test.ts
  packages/core/src/__tests__/vsix-integration.test.ts
  packages/core/src/__tests__/wait-for-validation.test.ts
  packages/core/src/commands/wait-for-validation.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/main.js
  packages/github-action/dist/main.js.map
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
Due: prettier, eslint

Refactor code structure for improved readability and maintainability
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

Change CI runner from Ubuntu to Windows
  .github/workflows/check-dist.yml
Due: actionlint, prettier

fix: update GitHub links in documentation and pipeline configuration
  .github/pipelines/azure-pipelines.yml
  Metadata/overview.md
Due: prettier

fix: simplify log message for Azure AD token retrieval
  packages/github-action/src/__tests__/auth/oidc-auth.test.ts
  packages/github-action/src/auth/oidc-auth.ts
Due: prettier, eslint

feat: update README and action files with GitHub Marketplace samples and inputs
  README.md
  install/README.md
  package/README.md
  publish/README.md
  publish/action.yaml
  query-version/README.md
  share/README.md
  show/README.md
  unpublish/README.md
  unshare/README.md
  wait-for-installation/README.md
  wait-for-validation/README.md
Due: prettier

feat: enhance validation and synchronization for GitHub Actions and Azure DevOps tasks
  .github/workflows/linter.yml
  Scripts/validate-doc-yaml-samples.mjs
  docs/azure-pipelines.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  package.json
  packages/azdo-task/src/main.ts
  packages/github-action/dist/auth/oidc-auth.js
  packages/github-action/dist/auth/oidc-auth.js.map
  publish/action.yaml
Due: actionlint, prettier, eslint

feat: add hooks for action manifest sync and documentation sample validation
  .pre-commit-config.yaml
Due: prettier

test: replace platform.setOutput assertions with corresponding mock calls
  packages/azdo-task/src/__tests__/main.test.ts
Due: prettier, eslint

Add guard test to prevent unexpected output variables.
  packages/azdo-task/src/__tests__/main.test.ts
  packages/github-action/dist/bundle.js
  packages/github-action/dist/bundle.js.map
Due: prettier, eslint

Update check-dist.yml
  .github/workflows/check-dist.yml
Due: actionlint, prettier

fix: standardize YAML indentation in README for clarity
  README.md
Due: prettier

Add GitHub Actions workflow for documentation validation
  .github/workflows/action-example-checker.yaml
Due: actionlint, prettier

Update action-example-checker to version 0.0.2
  .github/workflows/action-example-checker.yaml
Due: actionlint, prettier

Rename action to Azdo Marketplace Action
  action.yml
Due: prettier

Configure sparse checkout for action-example-checker
  .github/workflows/action-example-checker.yaml
Due: actionlint, prettier

Fix outputs for github actions.
  README.md
  action.schema.yaml
  action.yml
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  packages/github-action/src/__tests__/main.test.ts
  packages/github-action/src/main.ts
  show/README.md
  show/action.yaml
Due: prettier, eslint
