Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

actionlint:
  name: actionlint
  entry: actionlint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --config .prettierrc.yml
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

sync-action-inputs-check:
  name: Check action manifest sync
  entry: npm run sync:action-inputs:check
  language: system
  pass_filenames: false

docs-validate-samples:
  name: Check validate docs samples
  entry: npm run docs:validate-samples
  language: system
  pass_filenames: false

Remove unpublish step for preview extension
  .github/workflows/release.yml
Due: actionlint, prettier

Remove unpublish step from release workflow
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Remove unpublish task from test-azure-pipelines.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Update release.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Change EXTENSION_ID format in GitHub Actions workflow
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Update extension URL and ID in release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

Update dependencies
  package-lock.json
  package.json
Due: prettier

update dependencies
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/minimatch/README.md
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.js.map
  packages/github-action/dist/node_modules/minimatch/package.json
  packages/github-action/dist/package-lock.json
Due: none

Update project dependencies (#136)
  package-lock.json
  package.json
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/minimatch/README.md
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/escape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.js
  packages/github-action/dist/node_modules/minimatch/dist/commonjs/unescape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/ast.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/escape.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/index.js.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.d.ts
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.d.ts.map
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.js
  packages/github-action/dist/node_modules/minimatch/dist/esm/unescape.js.map
  packages/github-action/dist/node_modules/minimatch/package.json
  packages/github-action/dist/package-lock.json
Due: prettier

Add version resolution step in workflow
  .github/workflows/actions-example-checker.yaml
Due: actionlint, prettier

Update fetch-depth in actions-example-checker.yaml
  .github/workflows/actions-example-checker.yaml
Due: actionlint, prettier

Delete v6-launch-blog-post.md
  v6-launch-blog-post.md
Due: prettier, docs-validate-samples

Validate documentation as part of release process.
  .github/workflows/publish-azdo-extension.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Update version input to include 'v6' tag
  .github/workflows/actions-example-checker.yaml
Due: actionlint, prettier

fix lint issues
  packages/core/src/validation.ts
Due: prettier, eslint

Update packages/github-action/package.json
  packages/github-action/package.json
Due: prettier

Delete .idea directory
  .idea/.gitignore
  .idea/encodings.xml
  .idea/indexLayout.xml
  .idea/vcs.xml
Due: none

Update .gitignore to include .idea directory
  .gitignore
Due: none

Bundle
  package-lock.json
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/uuid/dist-node/v35.js
  packages/github-action/dist/node_modules/uuid/dist-node/v6.js
  packages/github-action/dist/node_modules/uuid/dist/v35.js
  packages/github-action/dist/node_modules/uuid/dist/v6.js
  packages/github-action/dist/node_modules/uuid/package.json
  packages/github-action/dist/package-lock.json
Due: prettier

chore(deps): bump rollup to version 4.61.0 and bundle
  package-lock.json
  package.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/package.json
  packages/github-action/dist/package-lock.json
Due: prettier

chore(deps): bump rollup to version 4.61.0 and bundle (#186)
  package-lock.json
  package.json
  packages/github-action/dist/bundle.js
  packages/github-action/dist/node_modules/.package-lock.json
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/browser/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/commonjs/node/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/browser/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.d.ts
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.d.ts.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.js.map
  packages/github-action/dist/node_modules/lru-cache/dist/esm/node/index.min.js.map
  packages/github-action/dist/node_modules/lru-cache/package.json
  packages/github-action/dist/package-lock.json
Due: prettier

refactor: reorganize exports in index.ts for clarity and consistency
  packages/core/src/__tests__/version-utils.test.ts
  packages/core/src/index.ts
  packages/core/src/version-utils.ts
Due: prettier, eslint

feat(waitForInstallation): enhance version checking and warning emission for higher installed versions
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

feat(waitForInstallation): enhance UUID discovery and version checking for tasks
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

feat(waitForInstallation): validate contributionIdentifier for task version matches
  packages/core/src/__tests__/wait-for-installation.test.ts
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

fix(waitForInstallation): handle null responses from task definitions API
  packages/core/src/commands/wait-for-installation.ts
Due: prettier, eslint

Bundle
  packages/github-action/dist/bundle.js
Due: none

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (^|/)dist/.*
  prettier: any of: \.(ts|js|mjs|cjs|json|md|yml|yaml)$, but not: (^|/)dist/.*
  eslint: any of: \.(ts|js|mjs|cjs)$, but not: (^|/)dist/.*
  sync-action-inputs-check: any of: (^|/)action\.ya?ml$, but not: (^|/)dist/.*
  docs-validate-samples: any of: (^|/)(action\.ya?ml|task\.json|.*\.md)$, but not: (^|/)dist/.*
