Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

actionlint:
  name: actionlint
  entry: actionlint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write --config .prettierrc.yml
  language: system

eslint:
  name: eslint
  entry: npx eslint --fix
  language: system

sync-action-inputs-check:
  name: Check action manifest sync
  entry: npm run sync:action-inputs:check
  language: system
  pass_filenames: false

docs-validate-samples:
  name: Check validate docs samples
  entry: npm run docs:validate-samples
  language: system
  pass_filenames: false

Update manifest file path in GitHub Actions workflow (#109)
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

Update publisher ID for release workflow (#110)
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update Azure login process to use Azure DevOps bearer token for PAT authentication
  .github/workflows/release-test-github-actions.yml
Due: actionlint, prettier

fix: update VSIX artifact handling and streamline release process
  .github/workflows/release.yml
Due: actionlint, prettier

Release workflow (#111)
  .github/workflows/release-test-github-actions.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Update release.yml
  .github/workflows/release.yml
Due: actionlint, prettier

Update release.yml (#112)
  .github/workflows/release.yml
Due: actionlint, prettier

feat: update test pipelines to support OIDC and Workload Identity connections
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

feat: enhance test pipelines with detailed service connection information and update display names
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Feat/vsix file name output (#115)
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Disable WIF for now
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Feat/vsix file name output (#116)
  .github/pipelines/templates/test-extension-lifecycle.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Update test-azure-pipelines.yml
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Update test-azure-pipelines.yml (#117)
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

Modify az commands to include --allow-no-subscriptions
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

Modify az commands to include --allow-no-subscriptions (#118)
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

Allow no subscription
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

fix: downgrade AzureCLI task version from 3 to 2 in test-extension-lifecycle.yml
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

Add workingDirectory parameter to test pipeline
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

Update test-azure-pipelines.yml for Azure Pipelines
  .github/pipelines/test-azure-pipelines.yml
Due: prettier

fix: remove --allow-no-subscriptions flag from Azure CLI commands in test-extension-lifecycle.yml
  .github/pipelines/templates/test-extension-lifecycle.yml
Due: prettier

refactor: reorder import statements for consistency in auth module
  packages/azdo-task/src/__tests__/auth/azurerm-auth.test.ts
  packages/azdo-task/src/auth/azurerm-auth.ts
Due: prettier, eslint

feat: add step to share extension in release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update Azure DevOps account URL in release workflow
  .github/workflows/release.yml
Due: actionlint, prettier

fix: update Azure DevOps account URL and force token refresh in Azure RM auth
  .github/workflows/release.yml
  packages/azdo-task/src/__tests__/auth/azurerm-auth.test.ts
  packages/azdo-task/src/auth/azurerm-auth.ts
Due: actionlint, prettier, eslint

refactor: simplify Azure RM authentication by removing unnecessary variable
  packages/azdo-task/src/auth/azurerm-auth.ts
Due: prettier, eslint

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: (^|/)dist/.*
  prettier: any of: \.(ts|js|mjs|cjs|json|md|yml|yaml)$, but not: (^|/)dist/.*
  eslint: any of: \.(ts|js|mjs|cjs)$, but not: (^|/)dist/.*
  sync-action-inputs-check: any of: (^|/)action\.ya?ml$, but not: (^|/)dist/.*
  docs-validate-samples: any of: (^|/)(action\.ya?ml|task\.json|.*\.md)$, but not: (^|/)dist/.*
