Repository jessehouwing/azdo-marketplace: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, prettier, eslint, sync-action-inputs-check, docs-validate-samples

.pre-commit-config.yaml:

exclude: (^|/)dist/.*

repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: '^\.github/workflows/.*\.ya?ml$'
      - id: prettier
        name: prettier
        entry: npx prettier --write --config .prettierrc.yml
        language: system
        files: '\.(ts|js|mjs|cjs|json|md|yml|yaml)$'
      - id: eslint
        name: eslint
        entry: npx eslint --fix
        language: system
        files: '\.(ts|js|mjs|cjs)$'
      - id: sync-action-inputs-check
        name: Check action manifest sync
        entry: npm run sync:action-inputs:check
        language: system
        pass_filenames: false
        files: '(^|/)action\.ya?ml$'
      - id: docs-validate-samples
        name: Check validate docs samples
        entry: npm run docs:validate-samples
        language: system
        pass_filenames: false
        files: '(^|/)(action\.ya?ml|task\.json|.*\.md)$'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml

Rename tfx-cli.js to tfx-cli.cjs and update references in TfxManager and tests
  Scripts/bundle.mjs
  packages/core/src/__tests__/tfx-manager.test.ts
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/tfx-cli.cjs
Due: prettier, eslint

Include dependencies of tfx-cli
  .gitignore
  Scripts/bundle.mjs
  packages/github-action/dist/tfx/node_modules/.bin/glob
  packages/github-action/dist/tfx/node_modules/.bin/glob.cmd
  packages/github-action/dist/tfx/node_modules/.bin/glob.ps1
  packages/github-action/dist/tfx/node_modules/balanced-match/LICENSE.md
  packages/github-action/dist/tfx/node_modules/balanced-match/README.md
  packages/github-action/dist/tfx/node_modules/balanced-match/package.json
  packages/github-action/dist/tfx/node_modules/brace-expansion/LICENSE
  packages/github-action/dist/tfx/node_modules/brace-expansion/README.md
  packages/github-action/dist/tfx/node_modules/brace-expansion/package.json
  packages/github-action/dist/tfx/node_modules/glob/LICENSE.md
  packages/github-action/dist/tfx/node_modules/glob/README.md
  packages/github-action/dist/tfx/node_modules/glob/package.json
  packages/github-action/dist/tfx/node_modules/jackspeak/LICENSE.md
  packages/github-action/dist/tfx/node_modules/jackspeak/README.md
  packages/github-action/dist/tfx/node_modules/jackspeak/package.json
  packages/github-action/dist/tfx/node_modules/lru-cache/LICENSE
  packages/github-action/dist/tfx/node_modules/lru-cache/README.md
  packages/github-action/dist/tfx/node_modules/lru-cache/package.json
  packages/github-action/dist/tfx/node_modules/minimatch/LICENSE.md
  packages/github-action/dist/tfx/node_modules/minimatch/README.md
  packages/github-action/dist/tfx/node_modules/minimatch/package.json
  packages/github-action/dist/tfx/node_modules/path-scurry/LICENSE.md
  packages/github-action/dist/tfx/node_modules/path-scurry/README.md
  packages/github-action/dist/tfx/node_modules/path-scurry/package.json
Due: prettier, eslint

switch to rollup branch
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Update TfxManager and tfx-cli to support new tfx-cli.cjs structure
  Scripts/bundle.mjs
  packages/core/src/tfx-manager.ts
  packages/github-action/dist/tfx-cli.js
Due: prettier, eslint

Remove deprecated @eslint/eslintrc dependency and update ESLint configuration to use @eslint/js
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier, eslint

Restore 3 tool-lib packages
  Scripts/bundle.mjs
Due: prettier, eslint

Add js-yaml dependency and update package configurations
  package-lock.json
  packages/github-action/package.json
Due: prettier

Rebundle
  packages/github-action/dist/package-lock.json
Due: none

Refactor ESLint configuration and update dependencies to use typescript-eslint package
  eslint.config.mjs
  package-lock.json
  package.json
  packages/core/src/commands/publish.ts
Due: prettier, eslint

Reorder Lint and Bundle steps in workflow
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Refactor authentication module to use dynamic imports for improved performance and modularity
  .github/workflows/publish-azdo-extension.yml
  Scripts/bundle.mjs
  packages/azdo-task/src/auth/index.ts
Due: actionlint, prettier, eslint

Update publish-azdo-extension.yml
  .github/workflows/publish-azdo-extension.yml
Due: actionlint, prettier

Add bundling guidance and update external dependencies in bundle script
  .github/instructions/bundle.instructions.md
  Scripts/bundle.mjs
Due: prettier, eslint, docs-validate-samples

Update overview and vss-extension.json to remove unused images and specify task paths
  Metadata/overview.md
  vss-extension.json
Due: prettier, docs-validate-samples

Remove GitHub Copilot extension and update task details for clarity
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: prettier

Rebundle
  package-lock.json
Due: prettier

Improve bundling script to include `npm audit fix`
  .github/dependabot.yml
  Scripts/bundle.mjs
  package-lock.json
  package.json
  packages/azdo-task/package.json
  packages/core/package.json
  packages/github-action/dist/package-lock.json
  packages/github-action/package.json
Due: prettier, eslint

Apply suggestions from code review
  .github/instructions/bundle.instructions.md
  Scripts/bundle.mjs
Due: prettier, eslint, docs-validate-samples

Update action.yaml files to use 'jessehouwing/azdo-marketplace@main' instead of 'rollup'
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Switch all actions and docs to v6.0.0
  README.md
  action.yml
  docs/README.md
  docs/authentication-and-oidc.md
  docs/github-actions.md
  docs/migrate-azure-pipelines-v5-to-github-actions.md
  docs/migrate-azure-pipelines-v6-to-github-actions.md
  install/action.yaml
  package/action.yaml
  publish/action.yaml
  query-version/action.yaml
  share/action.yaml
  show/action.yaml
  unpublish/action.yaml
  unshare/action.yaml
  wait-for-installation/action.yaml
  wait-for-validation/action.yaml
Due: prettier, sync-action-inputs-check, docs-validate-samples

Switch to release tags
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Update actions-semver-checker.yml
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Change floating-versions-use from branches to tags
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Update action version reference in workflow
  .github/workflows/actions-semver-checker.yml
Due: actionlint, prettier

Revise README for Azdo Marketplace Action & Tasks
  README.md
Due: prettier, docs-validate-samples

Update README to reflect GitHub Actions support
  README.md
Due: prettier, docs-validate-samples

Update pipeline version from 5.0 to 6.0
  .github/pipelines/azure-pipelines.yml
Due: prettier

Update overview.md with PAT scopes and link changes
  Metadata/overview.md
Due: prettier, docs-validate-samples

Update extension ID and support email in manifest
  vss-extension.json
Due: prettier

Rename extension ID in vss-extension.json
  vss-extension.json
Due: prettier

refactor: update task version and ID handling in manifest editor
  packages/core/src/__tests__/filesystem-manifest-reader.test.ts
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
  packages/core/src/__tests__/vsix-editor-writer.test.ts
  packages/core/src/commands/package.ts
  packages/core/src/commands/publish.ts
  packages/core/src/filesystem-manifest-reader.ts
  packages/core/src/filesystem-manifest-writer.ts
  packages/core/src/manifest-editor.ts
  packages/core/src/vsix-reader.ts
  packages/core/src/vsix-writer.ts
Due: prettier, eslint

Apply suggestions from code review
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
Due: prettier, eslint

Make prettier happy
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
  packages/core/src/filesystem-manifest-reader.ts
  packages/core/src/manifest-editor.ts
  packages/core/src/vsix-reader.ts
Due: prettier, eslint

Remove unused readTaskManifest() calls in filesystem-manifest-writer tests (#81)
  packages/core/src/__tests__/filesystem-manifest-writer.test.ts
Due: prettier, eslint

fix: add warning for missing task.json in multi-version task path resolution
  packages/core/src/filesystem-manifest-reader.ts
Due: prettier, eslint
